/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importando a fonte */
@font-face {
    font-family: 'Poppins-Bold';
    src: url('Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Estilos gerais */
body {
    font-family: 'Poppins-Bold', sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.header {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.perfil {
    margin-right: 10px;
}

#perfil-img {
    width: 100%;
}

.img img {
    width: 45px;
    height: auto;
}

.title {
    display: inline-block;
    margin-right: 10px; 
}


.location-icon {
    color: #79C61E; 
    font-size: 15px;
    vertical-align: middle; 
}

.tema {
    margin-top: 30px;
    color:#79C61E;
    font-size: 25px;
    margin-bottom: 10px;
}


/* Estilos para os campos de entrada */
input[type="text"],
input[type="password"] {
    width: 92%;
    padding: 18px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; 
    margin-top: 30px; 
    border: 1px solid #ddd8d898;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1); 
    font-family: 'Poppins-Bold', sans-serif; /* Aplicando a fonte */
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}



/* continuar*/
.btn-continuar-container {
    background-color: #79C61E; 
    border-radius: 8px; 
    color: #000000;
    padding: 16px; 
    width: 100%; /* ocupa toda a largurao */
    height: 65px;
    font-size: 20px;
    text-align: center; /* centraliza horizontalmente */
    justify-content: center; /* centraliza verticalmente */
    align-items: center;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 20px;
}


.circle {
    width: 120px;
    height: 120px;
    background-color: #d3dadf;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;
    overflow: hidden; /* Adicionado */
    position: relative; /* Adicionado */
}

.info {
margin-top: -120px;
text-align: right; /* alinhar o texto na direita */
margin-right: 20px;
font-size: 18px;
}

.dinheiro {
    color: #79C61E;
    font-size: 20px;
}



.rating {
font-size: 16px; /* tamanho do 4.9 */
}

.star {
font-size: 16px; /* tamanho da estrela */
color: rgb(0, 0, 0);
margin-left: 3px; /* espaço entre o numero e a estrela */
margin-left: 0px;
}

.circle img {
    position: absolute; /* Adicionado */
    top: 0; /* Adicionado */
    width: 100%; /* Adicionado */
    height: 100%; /* Adicionado */
    object-fit: cover; /* Adicionado */
}

.rectangle {
    width: 48px; /* largura */
    height: 20px; /* altura*/
    background-color: #d3dadf;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* começando do lado direito */
    margin-right: 0;
    margin-bottom: 6px;
    
}

.btn-viajar {
    margin-left: 15px;
    color: #79C61E;
}

.btn-viajar2 {
    margin-left: 15px;
}

/* quadradao de cima*/
.btn-viagem-container {
    background-color: #e5e6e5; 
    border-radius: 10px; 
    color: #000000;
    padding: 16px; 
    width: 100%; /* ocupa toda a largurao */
    height: 310px;
    font-size: 20px;
    text-align: left; /* centraliza horizontalmente */
    justify-content: center; /* centraliza verticalmente */
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    
}


.horario {
    margin-top: 25px;
    font-size:25px;
    margin-left: 15px;
    
}

.etapas {
    margin-top: -42px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 100px;
    
}


.destaque {
    color: #000000;
    font-family: 'Poppins-Bold', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 5px;
    position: relative;
    vertical-align: auto;
    margin-top: -5px;
    font-size: 16px;
}

.destaque1 {
    font-size: 20px;
    margin-left: 15px;
    color: #79C61E;
    
}

.btn-voltar-container {
    background-color: #CDE5B0; 
    border-radius: 8px; 
    color: #000000;
    padding: 16px; 
    width: 100%; /* ocupa toda a largurao */
    height: 65px;
    font-size: 20px;
    text-align: center; /* centraliza horizontalmente */
    justify-content: center; /* centraliza verticalmente */
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
}
